@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    /*COLORS - PRIMARY*/
    --clr-soft-blue: hsl(215, 51%, 70%);
    --clr-cyan: hsl(178, 100%, 50%);
    /*COLORS - NEUTRAL*/
    --clr-main-bg: hsl(217, 54%, 11%);
    --clr-card-bg: hsl(216, 50%, 16%);
    --clr-line: hsl(215, 32%, 27%);
    --clr-white: hsl(0, 0%, 100%);
    /* TYPOGRAPHY */
    --fs-body: 1.6rem;
    --ff-primary: 'Outfit', sans-serif;
    /*BORDERS*/
    --border-radius: 2rem;
    --img-border-radius: 0.8rem;
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
    background: var(--clr-main-bg);
    color: var(--clr-soft-blue);
}

/*-----------------------------------*\
 * #MAIN
\*-----------------------------------*/

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
}

.card {
    background: var(--clr-card-bg);
    padding: 2rem;
    border-radius: var(--border-radius);
    max-width: 327px;
    box-shadow: 20px 40px 10px rgb(0, 0, 0, 20%);
}

    /*IMAGE*/

.card__img {
    border-radius: var(--img-border-radius);
}

.card__preview {
    display: block;
    position: relative;
    cursor: pointer;
}

.card__preview::before {
    content: '';
    position: absolute;
    background-color: var(--clr-cyan);
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: var(--img-border-radius);
}

.card__preview:hover::before {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.card__preview::after{
    content: '';
    position: absolute;
    background-image: url(../images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    transform: translate(0, -100%);
    opacity: 0;

}

.card__preview:hover::after {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

    /*GRID CONTAINER*/

.card__info {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'title title'
        'description description'
        'price time';
}

.card__header {
    grid-area: title;
    font-weight: 600;
    font-size: 2.2rem;
}

.card__link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.card__link:hover {
    color: var(--clr-cyan);
}

.card__text {
    font-weight: 300;
    grid-area: description;
}

.card__details {
    display: flex;
    align-items: center;
}

.card__details--price {
    grid-area: price;
    justify-self: flex-start;
    font-weight: 600;
    color: var(--clr-cyan);
}

.card__details--remaining {
    grid-area: time;
    justify-self: flex-end;
}

.card__details--price::before {
    content: '';
    background: url(../images/icon-ethereum.svg);
    background-repeat: no-repeat;
    width: 11px;
    height: 17px;
    position: absolute;
}

.card__price {
    margin-left: 1.8rem;
}

.card__details--remaining::before {
    content: '';
    background: url(../images/icon-clock.svg);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
}

.card__remaining {
    margin-left: 2rem;
}

    /*AUTHOR*/

.author {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 1.5rem 0 0.7rem;
}

.author__avatar {
    border: solid var(--clr-white) 0.1rem;
    border-radius: 50%;
    max-width: 3.2rem;
}

.author__name {
    font-size: 1.6rem;
    font-weight: 400;
}

.card__separator {
    background-color: var(--clr-line);
    height: 0.1rem;
    border: none;
}

.author__link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.author__link:hover {
    color: var(--clr-cyan);
}